In [4]:
import pymongo
import pprint
import yaml
import csv
import json
import pandas as pd
import sys, getopt, pprint

'''https://www.codewithharry.com/blogpost/mongodb-cheatsheet/'''

'https://www.codewithharry.com/blogpost/mongodb-cheatsheet/'

In [2]:
print('welcome to pymongo')

# Create connection

client = pymongo.MongoClient('mongodb://localhost:27017')
print(client)

# Create database
db = client['test']
collection = db['data collection']

welcome to pymongo
MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [53]:
# kono database create korle sekhane data input kora lagbe otherwise  database show korbena
# insert docoment

# insert one column 

post = {'name': 'Rahim', 'age': 25, 'address': 'Dhaka'}
collection.insert_one(post)

In [63]:
# insert Multiple 
list_of_dist = [
    {'name': 'Nasir', 'age': 23, 'address': 'Chandpur'},
    {'name': 'Ramim', 'age': 22, 'address': 'Noakhali'},
    {'name': 'Raihan', 'age': 24, 'address': 'Noakhali'},
    {'name': 'Sunmoon', 'age': 23, 'address': 'Bagerhat'},
    {'name': 'Anas', 'age': 25, 'address': 'Cumilla'},
]
    
collection.insert_many(list_of_dist)

In [64]:
# Create your own Id
# insert Multiple 
list_of_dist = [
    {'_id': 1 ,'name': 'Nasir', 'age': 23, 'address': 'Chandpur'},
    {'_id' : 2 ,'name': 'Ramim', 'age': 22, 'address': 'Noakhali'},
    {'_id' : 3 ,'name': 'Raihan', 'age': 24, 'address': 'Noakhali'},
    {'_id' : 4 ,'name': 'Sunmoon', 'age': 23, 'address': 'Bagerhat'},
    {'_id' : 5 ,'name': 'Anas', 'age': 25, 'address': 'Cumilla'},
]
    
collection.insert_many(list_of_dist)

In [56]:
# find one data

collection.find_one({'name': 'Nasir'})

{'_id': ObjectId('64034e1a1698ea1c801b3ad7'),
 'name': 'Nasir',
 'age': 23,
 'address': 'Chandpur'}

In [57]:
#find all data
import pprint

for data in collection.find( {'name': 'Nasir'} ):
    print(data)

{'_id': ObjectId('64034e1a1698ea1c801b3ad7'), 'name': 'Nasir', 'age': 23, 'address': 'Chandpur'}
{'_id': 1, 'name': 'Nasir', 'age': 23, 'address': 'Chandpur'}

In [58]:
# find Specific data
''' Ai system e jekono akta column bad dewar jonno 1 bebohar kora hoy
 kintu 0 dile oita betito baki sob show korbe'''

for data in collection.find( {'name': 'Nasir'} , { 'name':0, '_id':1}):
    print(data)

for data in collection.find( {'name': 'Nasir'} , { 'name':1, '_id':1}):
    print(data)

{'_id': ObjectId('64034e1a1698ea1c801b3ad7'), 'age': 23, 'address': 'Chandpur'}
{'_id': 1, 'age': 23, 'address': 'Chandpur'}
{'_id': ObjectId('64034e1a1698ea1c801b3ad7'), 'name': 'Nasir'}
{'_id': 1, 'name': 'Nasir'}

In [59]:
# list of database
client.list_database_names()

['admin', 'config', 'local', 'test']

In [60]:
# change database
db = client['local']
db.list_collection_names()

['startup_log']

In [61]:
collection.drop()

In [72]:
db.list_collection_names()

['data collection']

In [71]:
# Create new collection and insert data

collection_1 = db['comments']

listt = [
    {'_id': 1 ,'name': 'Nasir', 'age': 23, 'address': 'Chandpur'},
]
collection_1.insert_many(listt)

In [82]:
#Count data
collection.count_documents({'name': 'Nasir'})

2

In [86]:
# Listing Databases
client.list_database_names()

['admin', 'config', 'local', 'test']

In [88]:
'''Write One Document
Create a database store_db, use the transactions collection and write a document to it.'''


doc_data = {
    'store_name': 'sportsmans',
    'branch_name': 'tygervalley',
    'account_id': 'sns_03821023',
    'total_costs': 109.20,
    'products_purchased': ['cricket bat', 'cricket ball', 'sports hat'],
    'purchase_method':
    'credit card'
}
response = collection_1.insert_one(doc_data)

In [10]:
# update one
my_quary = {'name': 'Ramim'}
new_value = {'$set':{'address': 'Dhaka'}}
collection.update_one(my_quary, new_value)

In [11]:
# update many
my_quary = {'name': 'Ramim'}
new_value = {'$set':{'address': 'Dhaka'}}
collection.update_many(my_quary, new_value)

In [12]:
#delete one 

my_quary = {'name': 'Ramim'}
collection.delete_one (my_quary)

In [15]:
# delete many
my_quary = {'name': 'Nasir'}
collection.delete_many (my_quary)

# import csv into mongodb

In [18]:
import pandas as pd

data = pd.read_csv('boston.csv')
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2

In [ ]:
dataa = data.to_dict('records')
dataa

In [23]:
db = client['Machine_Learning']
boston = db['boston']

boston.insert_many(dataa)